@mixin active {
    font-weight: bold;
}

@mixin tipo-1($size) {
    font-family: $font-1;
    @if $size == 16 {
      font-size: 1em;
      line-height: 1.75em;
      font-weight: normal;
    }
    @else if $size == 18 {
        font-size: 1.125em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.75em;
        color: $color-3;
    }
    @else if $size == 22 {
        font-size: 1.375em;
        font-style: normal;
        font-weight: bold;
        line-height: 2.0625em;
        color: $color-3;
    }
    @else if $size == 30 {
        font-size: 1.875em;
        font-weight: bold;
        line-height: 1.75em;
        padding-left: 15px;
        color: $color-logo;
        text-shadow:(0px 4px 4px $bg-dark);
    }
    @else if $size == 32 {
        font-size: 2em;
        font-style: normal;
        font-weight: bold;
        line-height: 3em;
        text-align: center;
        color: $color-logo;
    }
    @else if $size == 40 {
        font-size: 2.5em;
        line-height: 3.75em;
        font-family: normal;
        font-weight: bold;
        color: $color-3;
    }
}

@mixin primary-button {
    background: $button-green;
    color: $color-2;
    padding: 15px;
    border-radius: 4px;
}

@mixin second-button {
    background: $bg-light;
    color: $color-1;
    padding: 15px;
    border: 1px solid $button-light;
    box-sizing: border-box;
    border-radius: 4px;
}