@mixin active {
    font-weight: bold;
}

@mixin tipo-1($size) {
    font-family: $font-1;
    @if $size == 16 {
      font-size: 16px;
      line-height: 28px;
      font-weight: normal;
    }
    @else if $size == 30 {
        font-size: 30px;
        font-weight: bold;
        line-height: 28px;
        padding-left: 15px;
        color: $color-logo;
        text-shadow:(0px 4px 4px $bg-dark);
    }
    @else if $size == 40 {
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
    }
}

@mixin primary-button {
    background: $button-green;
    color: $color-2;
    padding: 15px;
    border-radius: 4px;
}

@mixin second-button {
    background: $bg-light;
    color: $color-1;
    padding: 15px;
    border: 1px solid $button-light;
    box-sizing: border-box;
    border-radius: 4px;
}