// Cores
$primary-color: #02897A;
$bg-light: #FFFFFF;
$bg-dark: #22343D;

$color-1: #1F2E35;
$color-2: #FFFFFF;
$color-3: #22343D;
$color-logo: #173A56;

$button-light: #BCD0E5;
$button-green: #02897A;

// Fontes
$font-1: 'Poppins', sans-serif; 